{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Todo List</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>

    <div class="card text-left col-6">
        <div class="card-body">
            <p class="card-text">
            <form action="{% url 'todo_add' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.text }}
                    <!-- <input type="text" class="form-control" placeholder="Todo" aria-label="Todo"
                                aria-describedby="basic-addon2"> -->
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Do it!!</button>
                    </div>
                </div>
            </form>
            <a class="btn btn-danger btn-block" href="{% url 'todo_delete' %}" role="button">
                DELETE COMPLETED
            </a>

            <a class="btn btn-warning btn-block" href="#" role="button">
                Assignment
            </a>
            </p>

            <p>
            <ul class="list-group">
                {% for item in mytodo %}
                {% if item.complete %}
                <li class="list-group-item"><del>{{ item.todotext }}</del></li>
                {% else %}
                <li class="list-group-item">
                    <a href="{% url 'todo_complete' item.id %}">{{ item.todotext }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
    </p>
</div>

{% endblock content %}